{% extends 'base.html' %}

{% block conteudo %}

<main class="container mt-4 mb-4">
    {% include 'parciais/_messages.html' %}
    <div class="row">
        <div class="col">
            <h3 class="mb-4">Voos</h3>
            <p>Bem-vindo(a) {{user.first_name}} </p>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Observação</th>

                    </tr>

                    {% for lancamento in financeiro %}
                        {% if user == lancamento.socio %}
                        <tr>
                            <th scope="row">{{lancamento.data_financeiro}}</td>
                            <td>{{lancamento.tipo}}</td>
                            <td>{{lancamento.valor}}</td>
                            <td>{{lancamento.referente}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    

                </table>
            </div>
        </div>
    </div>
</main>


{% endblock  %}